[defaults]
inventory = inventory.ini
host_key_checking = False
private_key_file = ~/.ssh/spire-devsecops
remote_user = root
stdout_callback = yaml
retry_files_enabled = False

[ssh_connection]
pipelining = True
